/* .MuiAppBar-colorPrimary-18 {
    background-color: #f17b01 !important
}
.MuiAppBar-colorPrimary-197 {
    background-color: #f17b01 !important    
}
.MuiAppBar-colorPrimary-23 {
    background-color: #f17b01 !important    
}
.MuiTypography-noWrap-272 {
    overflow: visible !important;
    flex-grow: 1 !important;
}
.MuiTypography-noWrap-98 {
    overflow: visible !important;
    flex-grow: 1 !important;
} */
.AdminDashboardCss > header > div{
    background-color: #f17b01 !important    
}
.AdminDashboardCss > header > div > span{
    overflow: visible !important;
    flex-grow: 1 !important;
}

.LogoutBtn {
    background-color: white;
    color: #cc5c07;
    border: 1px solid #f17b01;
    border-radius: 5px;
    padding: 2px 8px;
    float: right;
    margin-right: 15px !important;
}
.LogoutBtn:hover {
    background-color: rgb(247, 247, 247);
    cursor: pointer;
}

.LogoutBtn > :first-child > span > svg {
    margin-right: 0px !important;
    width: 35px !important;

}