.THead{
    font-size: 0.8em !important
}
.MuiOutlinedInput-multiline-582 {
    width: 400px
}
.MuiFormControl-root-222{
    width: 400px

} 
.MuiFormControl-marginNormal-223{
    width: 400px

}
.SendMail-textField-163{
    width: 400px

}